.nj
{
	background-color: #428bca;
}
.cnd
{
	background-color: #666666;
}
.fld
{
	background-color: #660066;
}
.cal
{
	background-color: #6abc6a;
}
.geo
{
	background-color: #d83536;
}
.ill
{
	background-color: #ff7f0e;
}
.mich
{
	background-color: #b25809;
}
.nat
{
	background-color: #798ba2;
}
.newj
{
	background-color: #a680c8;
}
.north-car
{
	background-color: #d002d2;
}
.tex
{
	background-color: #3bc8d6;
}
.washing
{
	background-color: #786005;
}
#used_data {
  /* Sorting */ }
  #used_data td {
    vertical-align: middle; }
  #used_data .dataTables_length {
    display: none; }
  #used_data .dataTables_filter input {
    width: 160px;
    margin-bottom: 0; }
  #used_data .dataTables_info {
    float: left;
    margin-top: 5px; }
  #used_data .dataTables_paginate {
    margin: 5px 0;
    float: right; }
    #used_data .dataTables_paginate .first, #used_data .dataTables_paginate .previous, #used_data .dataTables_paginate .next, #used_data .dataTables_paginate .paginate_active, #used_data .dataTables_paginate .last, #used_data .dataTables_paginate .paginate_button {
      background-color: #e6e6e6;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #f2f2f2, #e6e6e6);
      /* IE10 */
      background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
      border: 1px solid #d9d9d9;
      padding: 5px 10px; }
      #used_data .dataTables_paginate .first:hover, #used_data .dataTables_paginate .previous:hover, #used_data .dataTables_paginate .next:hover, #used_data .dataTables_paginate .paginate_active:hover, #used_data .dataTables_paginate .last:hover, #used_data .dataTables_paginate .paginate_button:hover {
        background: #f9f9f9;
        cursor: pointer; }
    #used_data .dataTables_paginate .paginate_active {
      background: #f9f9f9; }
    #used_data .dataTables_paginate .first, #used_data .dataTables_paginate .last, #used_data .dataTables_paginate .next, #used_data .dataTables_paginate .previous {
      display: none; }
  #used_data .dataTable .sorting {
    cursor: pointer;
    background: url(../img/sorting.png) no-repeat center right; }
  #used_data .dataTable .sorting_asc {
    cursor: pointer;
    background: url(../img/sorting_asc.png) no-repeat center right; }
  #used_data .dataTable .sorting_desc {
    cursor: pointer;
    background: url(../img/sorting_desc.png) no-repeat center right; }
	 #used_data .dataTables_length, #used_data .dataTables_filter {
    display: none; }

  #used_data .dataTables_paginate .next, #used_data .dataTables_paginate .previous {
    display: none; }